body.sfmc-pp-active #overviewItemsFilter .folder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html.fuelux body.sfmc-pp-active  div:has(> #overviewItemsFilter.wide) {
    display: flex;
}

html.fuelux body.sfmc-pp-active #overviewItemsFilter.wide {
    width: 400px;
    min-width: 400px;
}

html.fuelux body.sfmc-pp-active #overviewItemsFilter.wide ~ div {
    width: 100%;
}