.mp-pill {
    padding: 2px 4px;
    background-color: #f0eeee;
    color: #040920;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    margin: 2px;
    cursor: default;
    word-break: break-all;
    font-size: 11px;
    display: inline-block;
    white-space: nowrap;
}

.mp-pill:hover {
    cursor: pointer;
    background-color: #ddd9d9;
}

.mp-pill.invalid {
    background-color: #f8baba;
}

.mp-pill.invalid:hover {
    background-color: #f3a5a5;
}

.mp-pill.duplicate {
    background-color: #f8d8ba;
}

.mp-pill.duplicate:hover {
    background-color: #f3cfa5;
}

.mp-pill-group {
    padding: 0px;
    margin: 0px;
    width: 100%;
    user-select: none;
}

.mp-pillbox-add-item {
    border: none;
    box-shadow: none;
    padding: 0px 5px;
    display: block;
    height: 21px;
    line-height: 1.4;
    font-size: 11px;
    background-color: transparent;
    border-radius: 3px;
    width: 100%;
}

.mp-pillbox-add-item:nth-child(n+50) {
    display: none;
}

.mp-pillbox-add-item:focus {
    outline: none;
}

.mp-tab-input {
    text-transform: uppercase;
}

.mp-tab-input:focus {
    outline: none;
}

.mp-add-new-tab:nth-child(n+7) {
    display: none;
}

.mp-tab-group {
    display: flex;
    flex-wrap: wrap;
}

.mp-tab-group .new {
    font-size: 12px;
    line-height: 1;
    margin-inline: -4px;
}

.mp-switch-link {
    padding: 6px 2px 0px 2px;
    margin: 0 0 0 auto;
    color: #0070d2;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 11px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    border: none;
    width: fit-content;
}

/* Overriding styles */

body.sfmc-pp-active .test-send-header {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    width: max-content;
}

body.sfmc-pp-active .messagepreview-testsendthreshold-content .col-md-3:has(.testsend-recipients) {
    width: 100%;
}

body.sfmc-pp-active .messagepreview-testsendthreshold.modal .col-md-3 .testsend-recipients {
    height: 100%;
    font-size: 12px;
    line-height: 1.5;
}

body.sfmc-pp-active .messagepreview-testsendthreshold.modal .modal-content .modal-body {
    height: 350px;
}

/* Subscriber select */

body.sfmc-pp-active .subscriberselector .subscriberselector-top-wrap .subscriberselector-folderbrowser.open {
    max-width: 495px;
    right: 495px;
}

body.sfmc-pp-active .subscriberselector .fuelux3.repeater-container {
    left: 495px; 
}

.hidden {
    display: none;
}

body.sfmc-pp-active .mp-tab-group.hidden ~ .test-send-recipients-tab-content.mp-tab-container {
    display: none;
}