body.sfmc-pp-active .qs-tabs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 1rem 0 0 1rem;
}

body.sfmc-pp-active .qs-add-new-tab:nth-child(51) {
    display: none;
}

body.sfmc-pp-active .qs-tab.slds-button {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0 0.75rem 0 1rem;
    margin-left: 0 !important;
}

body.sfmc-pp-active .qs-add-new-tab {
    margin-left: 0 !important;
}

body.sfmc-pp-active .qs-tab.slds-button:has(.qs-tab-input) {
    padding: 0px;
}

body.sfmc-pp-active .qs-tab.slds-button.slds-button_brand.active:has(.qs-tab-input) {
    padding: 0px;
    line-height: 1.875rem;
}

body.sfmc-pp-active .qs-tab-input {
    padding: 0 1rem;
    border: 0px solid #dddbda;
    line-height: 1.875rem;
    border-radius: 0.25rem;
    max-width: 150px;
}

body.sfmc-pp-active .qs-tab .close {
    cursor: pointer;
    line-height: 1;
    font-size: 20px;
    margin-top: -2px;
    opacity: 0.5;
}

body.sfmc-pp-active .slds-button_brand .qs-tab-input {
    color: black;
}

body.sfmc-pp-active .qs-tab-input:focus {
    outline: none;
}

body.sfmc-pp-active .qs-editor {
    height: 300px;
    margin: 10px;
    position: relative;
    width: calc(100% - 20px);
}

body.sfmc-pp-active .qs-editor:not(.active) {
    display: none;
}

body.sfmc-pp-active #editor:not(.qs-editor) {
    height: 0px;
}